---
title: Архитектруное бюро А510 - Ошибка 404
description: Архитектруное бюро А510 - Ошибка 404
layout: generic
permalink: /404.html

page-title: Ошибка 404
---
<h3 class="align-center">К сожалению, страница, которую вы искали, не существует.</h3>
<h4 class="align-center">Может быть посмотрите наши готовые проекты домов и таунхаусов?</h4>
<section class="front">
	<header class="align-center">
		<h2>Готовые проекты</h2>
	</header>
	<div class="row">
		<div class="8u 12u(medium)">
			<p>Вы готовы начать строить дом уже завтра, но все еще не нашли подходящий проект - тут мы придем вам на помощь. Проекты всех домов на этой странице уже готовы, вам остается только выбрать созвучный вашим вкусам и свзяаться с нами для уточнения некоторых деталей.</p>
		</div>
		<div class="4u 12u(medium)">
			<ul class="actions vertical small align-left arrow-alt">
				<li><a href="/proekty/doma-kottedji/">Дома и коттеджи</a></li>
				<li><a href="/proekty/taunhausy-dupleksy/">Таунхаусы - дуплексы</a></li>
				<li><a href="/proekty/kvadrohausy/">Квадрохаусы</a></li>
				<li><a href="/proekty/mnogokvartirnye/">Многоквартирные дома</a></li>
			</ul>
		</div>
	</div>
	<div class="row uniform">
		{% assign sorted_cat = site.proekty | sort: 'weight' %}
		{% assign i = 0 %}
		{% for project in sorted_cat %}
			{% if project.type != "category" and project.featured %}
				{% assign i = i | plus: 1 %}
				{% if i > 6 %}
					{% break %}
				{% endif %}
				<div class="4u 6u(medium) 12u(xsmall)">
					<div class="box alt">
						<a href="{{project.url}}" class="image fit project">
							<img src="/images/{{project.url}}-1-small.jpg" alt="{{project.tiny-description}}" title="{{project.project-catalog-title}}">
							<div class="project-wrapper">
								<h3>{{project.project-catalog-title}} <span>{{project.project-name}}</span></h3>
								<p>{{project.tiny-description}}</p>
							</div>
						</a>
						<h4><a href="{{project.url}}">{{project.project-name}}</a></h4>
						{% if project.area %}
						<h4 class="area">{{project.area}}м<sup>2</sup></h4>
						{% endif %}
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<footer class="align-center">
		<ul class="actions">
			<li><a class="button" href="/proekty/">Смотреть все проекты</a></li>
		</ul>
	</footer>
</section>