---
title: Заказать индивидуальный проект загородного дома - А510
description: Архитектурное проектирование индивидуальных загородных домов на заказ. Дизайн интерьера. Инженерное проектирование под ключ.
layout: generic
permalink: /architektura

page-title: Индивидуальное проектирование
---
<p>Дом, спроектированный по индивидуальному заказу, как костюм, сшитый в ателье, - всегда останется уникальным и неповторимым. Архитекторы нашей мастерской постоянно разрабывают новые проекты для своих заказчиков. Мы слушаем ваши желания и исполняем их в лучшей форме.</p>
<section class="front">
	<header>
		<h2 class="align-center">Что мы делаем</h2>
	</header>
	<h3>Для частных заказчиков</h3>
		<span class="button accordion">Архитектурное проектирование</span>
		<div class="acc-panel">
			<div class="row">
				<div class="6u 12u(medium)">
					<p>Проектирование частного дома - кропотливая и очень детальная работа. Мы внимательно выслушиваем ваши пожелания и предпочтения, обсжудаем вместе с вами стиль вашего будущего дома, метраж, количество помещений, затем архитектор предлагает вам варианты, которые включают в себя эскиз и визуализацию. После вашего согласия мы делаем рабочий проект для строителей.</p>
				</div>
				<div class="6u 12u(medium)">
					<div class="table-wrapper">
						<table class="price">
							<tbody>
								<tr>
									<td>Эскизный проект + 3d визуализация</td>
									<td>от 1000 р/м<sup>2</sup></td>
								</tr>
								<tr>
									<td>Архитектурный проект</td>
									<td>от 1000 р/м<sup>2</sup></td>
								</tr>
								<tr>
									<td>Рабочий проект</td>
									<td>от 1000 р/м<sup>2</sup></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<span class="button accordion">Дизайн интерьера</span>
		<div class="acc-panel">
			<div class="row">
				<div class="6u 12u(medium)">
					<p>Хороший дом отличает соответствие внешнего вида внутренней отделке, поэтому мы предлагаем вам разработку дизайна интерьеров. Мы подготовим вам полноценный проект - от цвета стен до выбора мебели: еще до постройки дома вы уже будете представлять, как он будет выглядеть.</p>
				</div>
				<div class="6u 12u(medium)">
					<div class="table-wrapper">
						<table class="price">
							<tbody>
								<tr>
									<td>Рабочие планы монтажа отделки</td>
									<td>2000 р/м<sup>2</sup></td>
								</tr>
								<tr>
									<td>3d визуализация</td>
									<td>1000 р/м<sup>2</sup></td>
								</tr>
								<tr>
									<td>Развертки, узлы и деталировка</td>
									<td>2000 р/м<sup>2</sup></td>
								</tr>
								<tr>
									<td>Подбор мебели и отделки</td>
									<td>2000 р/м<sup>2</sup></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<span class="button accordion">Инженерное проектирование</span>
		<div class="acc-panel">
			<div class="row">
				<div class="6u 12u(medium)">
					<p>Дом - это сложный организм, но часто мы принимаем как данность привычные нам функции: например, нам просто удобно, чтобы здесь была лампа, но мы не желаем видеть проводов. Для того, чтобы вам не пришлось думать об этом, об этом думают инженеры, которые подготовят для вашего дома проект освещения, водоснабжения и других систем функционирования вашего дома.</p>
				</div>
				<div class="6u 12u(medium)">
					<div class="table-wrapper">
						<table class="price">
							<tbody>
								<tr>
									<td>Водоснабжение</td>
									<td>250 р/м<sup>2</sup></td>
								</tr>
								<tr>
									<td>Канализация</td>
									<td>250 р/м<sup>2</sup></td>
								</tr>
								<tr>
									<td>Отопление</td>
									<td>250 р/м<sup>2</sup></td>
								</tr>
								<tr>
									<td>Электрика</td>
									<td>400 р/м<sup>2</sup></td>
								</tr>
								<tr>
									<td>Вентиляция и кондиционирование</td>
									<td>250 р/м<sup>2</sup></td>
								</tr>
								<tr>
									<td>Слаботочные системы</td>
									<td>от 250 р/м<sup>2</sup></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<span class="button accordion">Надзор за строительством</span>
		<div class="acc-panel">
			<div class="row">
				<div class="6u 12u(medium)">
					<p>Строительство дома, как и любой процесс, нуждается в регулировании. Архитектор, следящий за процессом, - это всегда страховка от неверных интерпретаций, которые могут произойти с кем угодно. Кроме того, если вдруг во время стройки на вашем участке потечет река или просядет земля (форсмажор, от которого не застрахован никто), мы быстро поправим проект с учетом ситуации.</p>
				</div>
				<div class="6u 12u(medium)">
					<div class="table-wrapper">
						<table class="price">
							<tbody>
								<tr>
									<td>Архитектурный (авторский) надзор</td>
									<td>50 000 р/мес</td>
								</tr>
								<tr>
									<td>Технический надзор</td>
									<td>50 000 р/мес</td>
								</tr>
								<tr>
									<td>Разовый выезд на участок</td>
									<td>15 000 р</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
</section>
<section class="front">		
	<h3>Для девелоперов и застройщиков</h3>
	<span class="button accordion">Коттеджные посёлки</span>
		<div class="acc-panel">
			<div class="row">
				<div class="6u 12u(medium)">
					<p>Наше архитектурное бюро также разработает для вас полный проект работ по строительству коттеджного поселка с нуля: от межевания земли и выбора стилистики до расположения домов и их планировки. После сдачи проекта и выхода на стройплощадку мы ведем авторский надзор за процессом.</p>
				</div>
				<div class="6u 12u(medium)">
					<div class="table-wrapper">
						<table class="price">
							<tbody>
								<tr>
									<td>Эскиз застройки территории</td>
									<td>60 000 р/Га</td>
								</tr>
								<tr>
									<td>Разработка линейки проектов</td>
									<td>500 р/м<sup>2</sup></td>
								</tr>
								<tr>
									<td>3d визуализация посёлка</td>
									<td>40 000 р/Га</td>
								</tr>
								<tr>
									<td>Проект планировки территории</td>
									<td>60 000 р/Га</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<span class="button accordion">Общественные здания</span>
		<div class="acc-panel">
			<div class="row">
				<div class="6u 12u(medium)">
					<p>Мы предлагаем услуги по проектированию общественных зданий: офисов, больниц, досуговых комплексов, школ, спортивных центров и других. Все наши проекты строятся с учетом территориальных особенностей, которые так или иначе задают тон фасадам и интерьерам помещений.</p>
				</div>
				<div class="6u 12u(medium)">
					<div class="table-wrapper">
						<table class="price">
							<tbody>
								<tr>
									<td>Эскизный проект + 3d визуализация</td>
									<td>от 1500 р/м<sup>2</sup></td>
								</tr>
								<tr>
									<td>Архитектурный проект</td>
									<td>от 1500 р/м<sup>2</sup></td>
								</tr>
								<tr>
									<td>Рабочий проект</td>
									<td>от 1500 р/м<sup>2</sup></td>
								</tr>
								<tr>
									<td>Техническое обследование здания</td>
									<td>от 1500 р/м<sup>2</sup></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<span class="button accordion">Общественные пространства</span>
		<div class="acc-panel">
			<div class="row">
				<div class="6u 12u(medium)">
					<p>Архитектура общественных пространств: придомовых территорий, улиц, площадей, парков, - неотделимая часть сегодняшней комфортной жизни. Мы с радостью поможем вам превратить старый заброшенный парк в приятное место для прогулок с детьми или сделаем ваш двор уютным для вечернех чаепитий.</p>
				</div>
				<div class="6u 12u(medium)">
					<div class="table-wrapper">
						<table class="price">
							<tbody>
								<tr>
									<td>Концепция благоустройства общественного пространства</td>
									<td>150 000 р/Га</td>
								</tr>
								<tr>
									<td>Проект развития и реконструкции территории</td>
									<td>200 000 р/Га</td>
								</tr>
								<tr>
									<td>Сбор и анализ данных территории сложившейся застройки</td>
									<td>100 000 р/Га</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
</section>
<section class="front">
	<header>
		<h2 class="align-center">Направления работы</h2>
	</header>
	<p>Наша компания выполняет весь спектр архитектурных работ. Мы проектируем объекты по вашему запросу: если вам нужен дом - мы сделаем для вас дом, если вы хотите обустроить площадь в вашем городе - мы разработаем проект общественного пространства. Специалисты мастерской выполняли задачи разных профилей, все объекты проектируются с учетом социологических и территориальных факторов.</p>
	<div class="row">
		<div class="6u 12u(medium)">
			<h3>Индивидуальные дома</h3>
			<div class="image fit main">
				<img src="/images/individualnie-doma-a510.jpg" alt="Индивидуальные жилые дома от архитектурного бюро А510"/>
			</div>
			<p>Каждому хочется жить в уникальном доме, не похожем на другие, явно выделяющемся красотой и стилем. В этой ситуации на помощь приходит архитектор: вы рассказываете о своих предпочтениях - мы оформляем их в лучшем виде.</p>
			<p>Кстати, вместе с прекрасной внешностью мы гарантируем удобство планировок.</p>
		</div>
		<div class="6u$ 12u(medium)">
			<h3>Коттеджные посёлки</h3>
			<div class="image fit main">
				<img src="/images/kottedjnie-poselki-a510.jpg" alt="Коттеджные поселки от архитектурного бюро А510"/>
			</div>
			<p>Коттеджный поселок начинается с большого участка земли. Архитекторы с учетом геодезической и кадастровой ситуаций готовят генплан поселка, делают удобную дорожную сеть, прорабатывают стилистику. Но хороший поселок - это не только комфортные дома, это и инфраструктура, поэтому в наших поселках, ориентируясь на площадь, мы проектируем торговые и досуговые центры, детские сады, медицинские пункты.</p>
			<p>Согласованный проект мы отдаем строителям и, вне зависимости от того, ваши они или наши, ведем авторский надзор за процессом. Особенно актуален этот вопрос в межсезонье, поэтому мы учитываем все факторы и максимально внимательно следим за тем, что происходит на стройплощадке.</p>
		</div>
		<div class="6u 12u(medium)">
			<h3>Общественные здания</h3>
			<div class="image fit main">
				<img src="/images/obshestvennie-zdaniya-a510.jpg" alt="Общественные здания от архитектурного бюро А510"/>
			</div>
			<p>Общественное здание, каким бы ни было его назначение, приобретает свой лучший вид, только когда гармонирует с окружающей средой. Мы всегда принимаем во внимание то, что будет вокруг нашего проекта - лес или город, будет ли он стоять на берегу реки или окажется высоко в горах. За время нашей практики мы проектировали:</p>
			<ul>
				<li>офисные центры</li>
				<li>детскую больницу</li>
				<li>православные церкви</li>
				<li>досуговые комплексы (банный комплекс, охотничье хозяйство)</li>
				<li>здание научно-исследовательского центра</li>
				<li>яхт-клуб</li>
			</ul>
		</div>
		<div class="6u$ 12u(medium)">
			<h3>Дизайн интерьеров</h3>
			<div class="image fit main">
				<img src="/images/dizayn-interyerov-a510.jpg" alt="Дизайн интерьеров от архитектурного бюро А510"/>
			</div>
			<p>Внешняя и внутренняя отделка дома - это части одного целого, в котором центр - житель дома и его образ жизни. Поэтому когда мы разрабатываем проект дизайна интерьеров, мы стараемся сделать ваш дом не только красивым внутри, но и отражающим ваш характер и стиль, и не забываем о вашем удобстве.</p>
			<p>Если у вас уже есть эскиз дизайна, но вы не уверены, что это то, что вам подходит, или сомневаетесь в каких-то моментах - обратитесь к архитекторам, мы сделаем все возможное, чтобы решить тревожащие вас вопросы и сделать ваш дом продложением вас.</p>
		</div>
		<div class="6u 12u(medium)">
			<h3>Общественные пространства</h3>
			<div class="image fit main">
				<img src="/images/obshestvennie-prostranstva-a510.jpg" alt="Общественные пространства от архитектурного бюро А510"/>
			</div>
			<p>Превратить пустырь в современный скейт-парк, обустроить прогулочную зону на заросшем речном берегу, подстветить здания в городе - всё это задачи архитекторов. Комфортные общественные пространства сегодня стали частью нашей жизни.</p>
			<p>Когда мы проектируем общественные пространства, мы всегда разговариваем с жителями, проводим опросы и анализируем мнения; отдельное внимание мы уделяем истории места - проект обновления не должен нарушать аутентичность.</p>
		</div>
		<div class="6u$ 12u(medium)">
			<h3>Реконструкция зданий</h3>
			<div class="image fit main">
				<img src="/images/rekonstrukciya-zdaniy-a510.jpg" alt="Проект реконструкции здания от архитектурного бюро А510"/>
			</div>
			<p>Здания, которые приходят в упадок и перестают выполнять свою первичную функцию, далеко не всегда нуждаются в сносе, а при внимательном подходе могут получить новую жизнь.</p>
			<p>Мы подготовим проект реконструкции как общественных зданий, так и вашего любимого старого дома, с максимальным сохранением исторической ценности там, где это возможно.</p>
		</div>
	</div>
</section>
<section class="front">
	<header>
		<h2 class="align-center">Портфолио</h2>
	</header>
	<div class="row uniform">
	{% assign sorted_cat = site.portfolio | sort: 'weight' %}
	{% for project in sorted_cat %}
		{% if project.featured %}
			<div class="4u 6u(medium) 12u(xsmall)">
				<div class="box alt" style="border:0">
					<a href="{{project.url}}" class="image fit project">
						<img src="/images/{{project.url}}-01-small.jpg" alt="{{project.project-title}}">
						<div class="project-wrapper">
							<h5>{{project.project-title}}</h5>
						</div>
					</a>
				</div>
			</div>
		{% endif %}
	{% endfor %}
	</div>
	<footer class="align-center">
		<ul class="actions">
			<li><a class="button alt" href="/portfolio/">Смотреть портфолио</a></li>
		</ul>
	</footer>
</section>