<section id="banner-wrapper">
	<div class="slick">
		<div>
			<div class="banner" style="background-image: url('images/banners/dupleksy.jpg')">
				<div class="inner">
					<h2>Самые близкие</h2>
					<p>Живите рядом с теми, кого любите</p>
					<ul class="actions">
						<li><a href="/proekty/taunhausy-dupleksy/" class="button special">Выбрать дуплекс</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<div class="banner" style="background-image: url('images/banners/individualnie-doma.jpg')">
				<div class="inner">
					<h2>Только ваш дом</h2>
					<p>Ваши желания в лучшей форме</p>
					<ul class="actions">
						<li><a href="/architektura" class="button special">Заказать проект дома</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<div class="banner" style="background-image: url('images/banners/kottedjnie-poselki.jpg')">
				<div class="inner">
					<h2>Дом, улица, город</h2>
					<p>Мы уже знаем, что будет на вашем участке</p>
					<ul class="actions">
						<li><a href="/architektura" class="button special">Разработать Генплан</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<div class="banner" style="background-image: url('images/banners/individualnie-doma2.jpg')">
				<div class="inner">
					<h2>Ваш дом готов</h2>
					<p>Выбирайте проект и вносите изменения</p>
					<ul class="actions">
						<li><a href="/proekty/doma-kottedji/" class="button special">Уточнить детали</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<div class="banner" style="background-image: url('images/banners/obshestvennie-zdaniya2.jpg')">
				<div class="inner">
					<h2>МЕГАПОЛИС</h2>
					<p>Каждое здание в городе</p>
					<ul class="actions">
						<li><a href="/architektura" class="button special">Заказать проект здания</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>