<footer id="footer">
	<!-- <ul class="icons">
		<li><a href="https://www.facebook.com/a510ru" class="icon fa-facebook" rel="nofollow" target="_blank"><span class="label">Facebook</span></a></li>
		<li><a href="http://instagram.com/a510ru" class="icon fa-instagram" rel="nofollow" target="_blank"><span class="label">Instagram</span></a></li>
		<li><a href="https://plus.google.com/111533556890655071026" class="icon fa-google-plus" rel="nofollow" target="_blank"><span class="label">Google Plus</span></a></li>
		<li><a href="" class="icon fa-pinterest" rel="nofollow" target="_blank"><span class="label">Pinterest</span></a></li>
	</ul> -->
	<ul class="footer-links">
		<li class="no-wrap"><i class="fa fa-phone">&nbsp;</i>+7&nbsp;(495)&nbsp;532-70-54</li>
		<li class="no-wrap"><i class="fa fa-envelope-o">&nbsp;</i>info@a510.ru</li>
		<li><i class="fa fa-map-marker">&nbsp;</i>Москва, Троицк, Физическая 13, оф. 77</li>
	</ul>
	<ul class="copyright">
		<li>&copy; A510 2024. All rights reserved.</li>
		<li>Design: A510</li>
	</ul>
</footer>
