<!DOCTYPE HTML>

<html lang="ru">
	{% include head.html %}
	
	<body id="top"  class="is-loading">
		<div id="page-wrapper">
		<!-- Header -->
		{% include header.html %}

		<!-- Nav -->
		{% include nav.html %}

		<!-- Banner -->
		{% include banner-big.html %}
		
		<!-- Main -->
			<div id="main">
				<article class="container">
					{{ content }}
				</article>
			</div>
		{% include cta.html %}
		
		<!-- Footer -->
		{% include footer.html %}

		<!-- Scripts -->
		{% include scripts.html %}
		</div>
	</body>
</html>