<!DOCTYPE HTML>

<html lang="ru">
	{% include head_2.html %}
	
	<body id="top" class="is-loading">
		<div id="page-wrapper">
		<!-- Header -->
		{% include header.html %}

		<!-- Nav -->
		{% include nav.html %}

		<!-- Banner -->
		{% include banner-generic.html %}
		
		<!-- Main -->
			<div id="not-main">
				<article class="container">
					<header class="align-center">
						<h1>Ваша персональная страница</h1>
					</header>
					<p>Ваша персональная страница уже готова, теперь нам предстоит вместе спроектировать ваш персональный дом. Не волнуйтесь, вы в надёжных руках! Ниже на странице вы найдете всю необходимую информацию о том, что, как и когда нам нужно будет сделать, чтобы вы получили именно тот дом, который хотите.</p>
					<section>
						<h2 class="align-center">Зачем это нужно</h2>
						<p>Строить дом без проекта &#8211; плохая идея, поверьте нашему опыту. Все чертежи для типовых проектов уже есть у строителей, но, если вы хотите персонализировать свой дом, вам потребуется новый проект. Ещё хотя бы один абзац про то, почему им нужен проект.</p>
					</section>
					<section>
						<h2 class="align-center">Что нужно сделать</h2>
						<div class="row">
							<div class="6u 12u(medium)">
								<h3>Проект дома</h3>
								<p>Комплект чертежей, чтобы построить дом. Изменяем типовой проект под ваши идеи и пожелания. Потребуется, если вы хотите передвинуть перегородки, изменить проёмы и т.д.</p>
								<h4>Что мы не меняем:</h4>
								<ul>
									<li>габаритные размеры дома</li>
									<li>конфигурацию кровли</li>
									<li>высоту этажей.</li>
								</ul>
								<h4>Что входит:</h4>
								<ul>
									<li>Альбом АР (планы, фасады, разрезы)</li>
									<li>Альбом КР (фундамент, перекрытия, кровля).</li>
								</ul>
							</div>
							<div class="6u 12u(medium)">
								<h3>Проект отделки</h3>
								<p>Комплект чертежей для внутренней отделки и инженерных систем дома. Разрабатываем на основе ваших пожеланий по составу помещений и расстановке мебели. Потребуется в любом случае, сделать внутреннюю отделку без проекта не получится.</p>
								<h4>Что входит:</h4>
								<ul>
									<li>Отопление и теплые полы</li>
									<li>Водоснабжение и канализация</li>
									<li>Вентиляция и кондиционирование</li>
									<li>Электроснабжение и освещение</li>
									<li>Котельная</li>
									<li>План с расстановкой мебели</li>
									<li>План финишного покрытия пола</li>
									<li>План открывания дверей</li>
									<li>План розеток</li>
									<li>План светильников</li>
									<li>План выключателей</li>
									<li>План потолков</li>
									<li>План привязки сантехнического оборудования</li>
									<li>План отделки стен</li>
									<li>Раскладка плитки в санузлах</li>
									<li>Раскладка плитки фартука кухни (по необходимости).</li>
								</ul>
							</div>
						</div>
					</section>
					<section>
						<h2 class="align-center" style="margin-bottom:0.5em;">Как мы это сделаем</h2>
						<p>1. Первым делом мы с вами созвонимся и обсудим необходимые изменения. Ниже мы типовую планировку вашего дома, чтобы вам было от чего отталкиваться.</p>
						<span class="button accordion">Планировки</span>
						<div class="acc-panel">
							<h3>План 1-го этажа:</h3>
							<div class="image plan">
								<img src="/images/lndwrk/{{page.project}}-1.png" alt="Планировка первого этажа"/>
							</div>
							{% if page.project > 130 %}
							<div class="6u 12u(medium)">
								<h3>План 2-го этажа:</h3>
								<div class="image plan">
									<img src="/images/lndwrk/{{page.project}}-2.png" alt="Планировка первого этажа"/>
								</div>
							</div>
							{% endif %}
						</div>
						<!-- <div class="row">
							<div class="6u 12u(medium)">
								<h3>План 1-го этажа:</h3>
								<div class="image plan">
									<img src="/images/lndwrk/{{page.project}}-1.png" alt="Планировка первого этажа"/>
								</div>
							</div>
							{% if page.project > 130 %}
							<div class="6u 12u(medium)">
								<h3>План 2-го этажа:</h3>
								<div class="image plan">
									<img src="/images/lndwrk/{{page.project}}-2.png" alt="Планировка первого этажа"/>
								</div>
							</div>
							{% endif %}
						</div> -->
					</section>
				</article>
			</div>
		
		{% include cta.html %}
		<!-- Footer -->
		{% include footer.html %}

		<!-- Scripts -->
		{% include scripts.html %}
		</div>
	</body>
</html>